<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WikiNote</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    html {
      height: 100%;
    }

    body {
      margin: 0;
      height: 100%;
    }

    #quill-container {
      height: auto;
      min-height: 100%;
      max-width: 1000px;
      margin: auto;
      padding: 0 50px;
    }

    #quill-container .ql-editor {
      font-size: 18px;
      overflow-y: visible;
    }

    #scrolling-container {
      height: calc(100% - 50px);
      overflow-y: auto;
      padding-top: 50px;
    }

  </style>
</head>

<body>
  <wn-nav></wn-nav>

  <div id="scrolling-container">
    <div id="quill-container">
    </div>
  </div>
</body>
</html>
